<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 offset-lg-3 mt-5">
  <h3 class="text-center">Adding new course</h3>
  <form method='POST' action="/courses/add">
    <div class="form-group">
      <input type="text" name="albumId" class="form-control" id="course-albumId" placeholder="album-id">
    </div>
    <div class="form-group">
      <input type="text" name="id" class="form-control" id="course-id" placeholder="id">
    </div>
    <div class="form-group">
      <textarea  name="title" class="form-control" id="title" placeholder="course-title">{{data.title}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Hinzufügen</button>
  </form>
</div>

{{#if data }}
<div class="alert alert-success mt-2">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>SAVE</strong> {{data.title}} saved successfully
</div>
{{/if}}